.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 10xp;
}

.logo > img {
    height: 80px;
}

.nav-links > ul{
    display: flex;
}

.nav-links > ul > li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.res-filter-btn{
    display: flex;
    margin: 10px;
}

.res-card{
    padding: 5px;
    width: 220px;
    background-color: #f0f0f0;
    border-radius: 3%;
    margin: 5px;
    display: grid;
}

.res-card:hover{
    box-shadow: 0px 0px 7px 6px grey;
    transition: ease-in 0.3s;
    cursor: pointer;
    width: 221px;
}

.res-card > img{
    height: 210px;
    overflow: hidden;
    width: 100%;
    border-radius: 3%;
}

.card-info{
    display: flex;
    flex-direction: column;
}

.card-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ------------- Shimmer Component Css ---------------- */


.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    padding: 5px;
    height: 300px;
    width: 220px;
    background-color: #939393;
    border-radius: 3%;
    margin: 5px;
    display: grid;
    grid-template-rows: 50% 50%;
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

  
  .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #a0a0a0;
    background: linear-gradient(to right, #e3e3e3 8%, #ffffff 18%, #e3e3e3 33%);
    background-size: 1200px 100%;
    }


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}
  


/* ---------------------- */

/* --------------  Header Login/Logout ------------- */

.btn-login{
    padding: 0 20px;
    cursor: pointer;
}

/* ------------------------------ */

/* --------------  Body ------------- */
.body{
    width: 100%;
    margin: auto;
}